body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: lightyellow;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 4em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wasps-image {
  text-align: center;
}
.wasps-container {
  margin-top: 30px;
  align-self: center;
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.wasp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: yellowgreen;
  border: 2px solid green;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1%;
  color: black;
}

img {
  width: 70px;
  height: 70px;
}

#queen {
  width: 70px;
  height: 70px;
}

#worker {
  width: 50px;
  height: 50px;
}

#drone {
  width: 30px;
  height: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 0px 20% 20px 20px;
  margin: 30px;
  background: yellow;
  border: 3px solid white;
  font-size: 1.5em;
  font-weight: bold;
}

button:hover {
  cursor: progress;
  background-color: #fffacd;
}
